VITE_SUPABASE_URL=https://fxmneyahmryuxtetkmrv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4bW5leWFobXJ5dXh0ZXRrbXJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NzA1NTYsImV4cCI6MjA5MDQ0NjU1Nn0.iWsYTWjj9vZapjZerUR0IvbUgfeNtBH2hGahcJXlifw
